
<div class="list has-subheader">

    <a class="item item-avatar" ui-sref="bam">
      <img src="img/03.jpg">
      <h2>แบมแบม</h2>
      <p>Paneda</p>
    </a>
   
   <a class="item item-avatar" ui-sref="kunk">
      <img src="img/04.jpg">
      <h2>คึกคัก</h2>
      <p>คึกคัก</p>
    </a>
    
     <a class="item item-avatar" ui-sref="bem">
      <img src="img/05.jpg">
      <h2>Bem</h2>
      <p>บีม</p>
    </a>

     <a class="item item-avatar" ui-sref="joy">
      <img src="img/06.jpg">
      <h2>จอย</h2>
      <p>เอ็นจอย</p>
    </a>
  
     <a class="item item-avatar" ui-sref="Priaw ">
      <img src="img/07.jpg">
      <h2>เฮ้ย เปรี้ยว</h2>
      <p>เปรี้ยว</p>
    </a>
    
    <a class="item item-avatar" ui-sref="tum">
      <img src="img/08.jpg">
      <h2>Tum</h2>
      <p>ตั้ม</p>
    </a>
    
    <a class="item item-avatar" ui-sref="ball">
      <img src="img/09.jpg">
      <h2>บอล</h2>
      <p>บอลบอล</p>
    </a>
</div>