<div class="bar bar-header">
  <a ui-sref="box"><button class="button button-icon icon ion-navicon"></button>
  <div class="h1 title">profile</div>
  
</div>

<div class="list card has-subheader">

  <div class="item item-avatar">
    <img src="img/02.jpg">
    <h2>Nontiya palaphon</h2>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/01.jpg">
    <p>
      my name is Nontiya palaphon.
      my nickname kung.
      I' am 18 years old.
      I study information technology.
      I study at chaiyaphum teohnical college.
    </p>
  </div>

</div>